
.navbar-nav .nav-item {
  margin-right: 50px; 
}
.navbar-nav .nav-item .nav-link {
  position: relative;
  transition: color 0.3s; 
}
.navbar-nav .nav-item .nav-link:hover::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 100%;
  border-bottom: 2px solid #00ff6a; 
  transition: all 0.5s;
}
.heading{
  font-weight: bold;
}

